h1 {
  text-align: center;
}

article {
  padding-left: 5%;
  padding-right: 5%;
}

body {
  background-color: black;
  color: white;
}

.contact {
  padding-left: 5%;
  width: 45%
}

.bio-img {
  max-height: auto;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 100%;
}
