h1 {
  text-align: center;
}

p  {
  padding-left: 5%;
  padding-right: 5%;
}

#knowledge {
    display: block;
    margin: 0 auto;
}

.logo {
  max-height: 125px;
  max-width: 125px;
  display: block;
  margin: 0 auto;
}
