h1 {
  text-align: center;
}

p  {
  padding-left: 5%;
  padding-right: 5%;
}

#knowledge {
    display: block;
    margin: 0 auto;
}

.logo {
  max-height: 100px;
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

#Brand {
  max-height: 50px;
  max-width: 50px;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
